
input/~$cbecs-standardized.xlsx
*.vscode
src/.vscode
src/__pycache__
src/.idea

hvac_dev_comparison/

input/std_json_raw/*.json
# !input/std_json_raw/cbecs[1-9].json
input/std_json_conv/*.json
input/std_json_conv_clean/*.json
input/processed_inputs/*.json
input/schedules/*.csv
hvac_dev
ep_input
ep_output
src/run.out
src/run.err
output/simSummary.csv
